.mapper .header{
    width:100%;
    padding-top:10px;
    padding-bottom: 10px;
    position: relative;
    padding-left: 50px;
}

.mapper .header .tools span{
   padding-left: 10px;

}
.mapper .header select{
    padding-left: 10px;
    margin-left: 20px;
}


.mapper ul {
    list-style: none;
}

.mapper ul li{
    float:left;
    margin-left:20px;
}

.mapper ul li .minus{
    margin-left: 5px;
}

.nav li{
    border:1px solid #ddd;
    border_bottom_color:transparent;
    backgroundColor:#ffffff

}