.Ul{
    position: absolute;
    width: 100%;
    top:100%;
    z-index: 1050;
    background: #EDF7FF;
    margin-bottom: 20px;
    border:1px solid #ccc;
}

.Ul .tools{
    border-bottom: 1px solid #ccc;
    position: relative;
    height: 30px;
}

.Ul .tools .button-group{
    position: absolute;
    right: 10%;
    top:0px;
}

.Ul .tools .button-group button{
    height: 28px;
    font-size: 10px;
}


.Ul ul{
    list-style: none;
    width: 100%;
    padding:10px;
}

.Ul ul li {
    width:140px;
    float:left;
    display: inline-block;
    height: 90px;
}

.Ul ul li .menu-area{
    position: relative;
    height: 90px;
}

.Ul ul li .menu-area img{
    position: absolute;
    left:40px;
}

.Ul ul li .menu-area .menu-label{
    position: absolute;
    left:24px;
    bottom:0px;
}

.Ul ul li .menu-area .menu-radio{
    position: absolute;
    right: 0px;
    bottom:0px;
}